<html ng-app="luna">
    <head>
        {% include '../javascripts.html' %}
        <base href="/" />
        <script type="text/javascript" src="/app/dist/all.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
    <style>
    #branding h2 {
        padding:0;
        font-size: 14px;
        margin: 2px 0 8px 0;
        font-weight: normal;
    }
    </style>
    </head>

    <body ng-controller="AdminController">
        <div id="container">
            {% if not is_popup %}
            <!-- Header -->
            <div id="header">
                <div id="branding">
                    <h2>{% firstof user.get_short_name user.get_username %}</h2>
                {% block branding %}{% endblock %}
                </div>
                {% block usertools %}
                {% if has_permission %}
                <div id="user-tools">
                    {% block userlinks %}
                        {% if site_url %}
                            <a href="{{ site_url }}">View Site</a> /
                        {% endif %}
                        {% if user.is_active and user.is_staff %}
                            {% url 'django-admindocs-docroot' as docsroot %}
                            {% if docsroot %}
                                <a href="{{ docsroot }}">Documentation</a> /
                            {% endif %}
                        {% endif %}
                        {% if user.has_usable_password %}
                        <a href="{% url 'admin:password_change' %}">Change Password</a> /
                        {% endif %}
                        <a href="{% url 'admin:logout' %}">Log out</a>
                    {% endblock %}
                </div>
                {% endif %}
                {% endblock %}
                {% block nav-global %}{% endblock %}
            </div>
            <!-- END Header -->
            {% block breadcrumbs %}
            <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">Home</a>
            {% if title %} &rsaquo; {{ title }}{% endif %}

            </div>
            {% endblock %}
            {% endif %}

            {% block messages %}
                {% if messages %}
                <ul class="messagelist">{% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                {% endfor %}</ul>
                {% endif %}
            {% endblock messages %}

            <!-- Content -->
            <div id="content" class="{% block coltype %}colM{% endblock %}">
                {% block pretitle %}{% endblock %}
                {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
                {% block content %}
                {% block object-tools %}{% endblock %}
                {{ content }}
                {% endblock %}
                {% block sidebar %}{% endblock %}

                <!-- Normally this would be put in its own file -->
                
                <input type="submit" value="Export Data" ng-click="showSubmit=true"> </input>
                <div ng-if="showSubmit">
                    <br>
                    <form role="form" ng-submit="sign_in()" >
                    <p> Please confirm your username and password below and press "Confirm Export" </p>
                    <div ng-show="error" ng-bind="error"></div>
                        <span class="input-label">Username</span>
                        <input type="text" placeholder="Username" class="form-control" ng-model="user.username"  />
                        <span class="input-label">Password</span>
                        <input type="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" class="form-control" ng-model="user.password" />
                    <input type="submit" value="Confirm Export" ng-submit="signIn()"> </button>
                    </form>
                </div>

                <br class="clear" />
            </div>
            <!-- END Content -->

            {% block footer %}<div id="footer"></div>{% endblock %}
        </div>
        <script src="https://www.gstatic.com/firebasejs/3.6.0/firebase.js"></script>
        <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyAJEJ5V2O2uv6cbdE61a-tCeUWRNmIJH6c",
            authDomain: "luna-c2c2f.firebaseapp.com",
            databaseURL: "https://luna-c2c2f.firebaseio.com",
            storageBucket: "luna-c2c2f.appspot.com",
            messagingSenderId: "1070742680504"
        };
        firebase.initializeApp(config);
        </script>
    </body>
</html>